/* Use commen css */

/* font family  
   font-family: 'Poppins', sans-serif;
 */

/* font use all body poppins */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* common class for css margin left right 5% equil  */
.wrapper {
  margin-left: 5%;
  margin-right: 5%;
}

/* item arrengment left in line  */
.arrange-left {
  float: left;
}

/* class for width 25%  */
.wid-25 {
  width: 25%;
}

/* class for width 50%  */
.wid-50 {
  width: 50%;
}

/* class for width 75%  */
.wid-75 {
  width: 75%;
}

/* this css use width 33 %  */
.wid-33 {
  width: 33%;
}
/* clear both use in start nest row  */
.next-row {
  clear: both;
}

/* class for button style */
.common-btn {
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 0;
  background-color: #fff;
  min-width: 50px;
  text-align: center;
  color: #d10c97;
  margin-right: 10px;
}

/* class for button in span style */
.common-btn span {
  font-size: 16px;
  font-weight: 800;
}

/* this css use fix some padding of i(icons)  */
.common-btn span i {
  padding-right: 5px;
  padding-left: 5px;
}

/* this css use chenge direction of image  */
.flip-img {
  transform: scaleX(-1);
}

/* this css use margin right 5% */
.margin-right-5 {
  margin-right: 5%;
}

/* this line below  start meadia queary use responsive */
/* @media only screen and (max-width:992px){
  .wid-25, .wid-50, .wid-75{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .arange-left{
    float: none;
  }
} */