/* E-Commerce Project start */

/* logo design hading */
.logo h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

/* header design */
.header {
  margin-top: 25px;
  min-height: 60px;
}

/* logo dising first span */
.logo h1 span:first-of-type {
  padding: 0px 15px;
  border: 1px solid #ddd;
  margin-right: 5px;
  color: #d19c97;
}
/* search-product input design  */
.search-product input {
  width: 70%;
  height: 40px;
  border-radius: 0;
  padding-left: 10px;
  font-size: 18px;
  color: #666;
  border: 1px solid #ddd;
  border-right: none;
}

/* this css use border none */
.search-product input:focus {
  outline: none;
}

/* search-product button design  */
.search-product button {
  height: 40px;
  border-radius: 0;
  border: 1px solid #ddd;
  margin-left: -6px;
  font-size: 19px;
  color: #d19c97;
  background-color: #fff;
}

/* selected product of right align */
.selected-product {
  text-align: right;
}
/* above this css all header part complete */

/* this line below categories list css use  */

/* this css use in banner backgraoung color  */
.full-banner-wrapper {
  border-top: 1px solid #ddd;
}

/* this css use in style list header  */
.list-header {
  height: 65px;
  background-color: #d19c97;
}

/* this css use in style inside header h4 tag  */
.list-header h4 {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 500;
}

/* this css use in style inside header span tag  */
.list-header span {
  float: right;
  padding: 28px;
}

/* this css use in all outside border ul tag  */
.categorory-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ddd;
}

/* this css use in style all li tag with border */
.categorory-list ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px 40px;
}

/* this css use in style all a tag color and decoration  */
.categorory-list ul li a {
  color: #333;
  text-decoration: none;
}
/* this line above all category style  */

/* this line below shop menu css */
.shop-menu {
  display: flex;
}

/* left menu list style in css */
.left-menu-list {
  width: 70%;
}

/* right menu list style in css */
.right-menu-list {
  width: 30%;
  direction: rtl;
}

/* this css apply both ul tag  */
.shop-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* this css apply .shop-menu ul li tag style  */
.shop-menu ul li {
  min-width: 75px;
  padding: 20px;
}

/* this css apply .shop-menu ul li a tag style  */
.shop-menu ul li a {
  color: #333;
  text-decoration: none;
}

/* all a tag style hover color  */
.shop-menu ul li a:hover {
  color: #d19c97;
}

/* this css apply inside shop dropdown menu  */
.shop-menu ul.dropdown {
  display: none;
  border: 1px solid #ddd;
  position: absolute;
  box-shadow: #ddd 1px 1px 4px;
}

/* this css use in hover effect in product details  */
.dropdown-head:hover ul.dropdown {
  display: block;
}

/* this line below start banner design  */

/* this css use banner style  */
.banner {
  position: relative;
  height: 400;
  float: left;
  width: 100%;
  margin-left: 15px;
}

/* this css use in banner image style  */
.banner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* this css use in banner text style  */
.banner-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.277);
}

/* this css use in banner text style h4 tag */
.banner-text h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
}

/* this css use in banner text h3 tag style  */
.banner-text h3 {
  margin: 0;
  font-size: 50px;
}

/* this css use in banner text in show now text a tag style  */
.banner-text a.show-now {
  background-color: #fff;
  color: #000;
  padding: 10px 15px;
}
/* this line above banner is complete */

/* this line below start Features area  */
.features-point {
  border: 1px solid #ddd;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 25px;
}

/* this css use text wrap  */
.features-point .icon-text-wrap {
  padding: 30px;
  display: flex;
}

/* this css use icons color and font  */
.icon-text-wrap i {
  font-size: 30px;
  color: #d19c97;
}

/* this css use style span  */
.icon-text-wrap span {
  font-size: 20px;
  padding-left: 20px;
  font-weight: 600;
}

/* this css use in style category item  */
.category-item {
  border: 1px solid #ccc;
  padding: 30px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 50px;
}

/* this css use in style product count  */
.category-item .product-count {
  text-align: right;
  margin-bottom: 10px;
}

/* this css use in style cat images  */
.category-item .category-image img {
  width: 100%;
}

/* this css use in style Name dreassses  */
.category-image .category-type h5 {
  margin-bottom: 0;
  font-size: 25px;
}

/* this line below start offer banner  */
.offer-bannner {
  background-color: #edf1ff !important;
  margin-bottom: 50px;
  position: relative;
  margin-right: 25px;
}

/* this css use offer banner image style  */
.offer-bannner img {
  position: absolute;
  max-width: 50%;
  max-height: 90%;
  bottom: 0;
  z-index: 100;
  float: left;
}

/* this css use offer banner text style  */
.offer-bannner .offer-text {
  text-align: right;
  padding: 40px;
}

/* this css use offer banner text inside h5 tag style  */
.offer-bannner .offer-text h5 {
  color: #d19c97;
  text-transform: uppercase;
  font-size: 25px;
  margin: 0;
  font-weight: 400;
}

/* this css use offer banner test inside h3 tag style  */
.offer-bannner .offer-text h3 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 10px;
}

/* this css use offer banner button style  */
.offer-bannner .offer-text button {
  padding: 12px 35px;
  color: #d19c97;
  border: 1px solid #d19c97;
  background-color: transparent;
}
/* this line above complete 0 offer bannner style  */

/* this line below start Making Carts */

.cart {
  border: 1px solid #ddd;
  margin-right: 25px;
  margin-bottom: 50px;
}

/* this line css cart image style  */
.cart img {
  width: 100%;
}

/* this line css cart details style  */
.cart .cart-details {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

/* this line css cart name style  */
.cart .cart-details .name-head {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

/* this line css cart price style  */
.cart .cart-details .cart-price {
  display: flex;
  justify-content: center;
}

/* this line css cart price h6 tag style  */
.cart .cart-price h6 {
  font-size: 16px;
  margin: 0;
  padding: 5px;
  font-weight: 500;
}

/* this line css cart last price style  */
.cart .cart-price h6.last-price {
  text-decoration: line-through;
  color: #888;
}

/* this line css cart footer style  */
.cart .cart-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

/* this line css cart footer a tag style  */
.cart .cart-footer a {
  color: #d19c97;
  font-size: 14px;
}
/* this line above cart complete */

/* this line start stay updated email  */
.stay-updated {
  margin-bottom: 100px;
  background-color: #edf1ff;
  margin-left: -5.5%;
  margin-right: -5.5%;
  text-align: center;
  padding-top: 50px;
  padding-left: 32%;
  padding-right: 32%;
  padding-bottom: 80px;
}

/* this css use stay updated text  */
.stay-updated .updated-text {
  line-height: 2;
  color: #666;
}

/* this css use stay updated input  */
.stay-updated .updated-inputes {
  display: flex;
}

/* this css use to stay updated input text  */
.stay-updated .email-input {
  flex: 100%;
  border-radius: 0%;
  height: 47px;
  border: none;
  padding-left: 20px;
  font-size: 16px;
}

/* this css use stay updated email button  */
.stay-updated .email-btn {
  border-radius: 0;
  border: 1px solid #d19c97;
  color: #000;
  background-color: #d19c97;
  padding: 13px 30px;
  font-size: 16px;
}
/* this line above complete stay updated email  */

/* this line start footer style  */
.footer {
  background-color: #edf1ff;
  margin-left: -5.5%;
  margin-right: -5.5%;
  padding-left: 5.5%;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
}

/* this line css use footer decription */
.footer .footer-desc {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 25px;
}

/* this line css use footer contect list  */
.footer .contect-list {
  padding: 0;
  list-style: none;
  line-height: 2.5;
}

/* this iine css use footer contect list icons */
.footer .contect-list .icon {
  color: #d19c97;
  width: 25px;
}

/* this css use footer in quick list inside ul tag  */
.quick-links ul {
  list-style: none;
  padding: 0;
  line-height: 2;
}

/* this css use footer in quick list inside ul in a tag  */
.quick-links ul a {
  text-decoration: none;
  color: #333;
}

/* this css use footer in quick list inside ul a in i tag  */
.quick-links ul a i {
  padding-right: 5px;
}

/* this css use footer input name email  */
.footer .footer-input {
  border: none;
  width: 80%;
  height: 50px;
  margin-bottom: 25px;
  font-size: 18px;
  padding-left: 15px;
}

/* this css use footer button subcribe  */
.footer .footer-button {
  border: 0;
  background-color: #d19c97;
  padding: 15px;
  width: 85%;
  font-size: 18px;
}

/* this line start vender list css  */
.vender-list {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 100x;
}

/* this line css vender list image  */
.vender-list img {
  border: 1px solid #ddd;
}

/* this line start copyright style and payment */
.copy-right {
  background-color: #edf1ff;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
}


/* this line below  start meadia queary use responsive */
/* @media only screen and (max-width:992px){
 .search-product{
  display: flex;
 }
 .search-product input {
   flex: 100%;
}
.selected-product{
  text-align: left;
}
.shop-menu ul {
  display: block;
 
}
.shop-menu ul li {
  padding: 10px;
}


} */